body {
    font-family: Arial, sans-serif;
    background-color: #1f2937;
    color: white;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #2d3748;
    padding: 16px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

.input {
    padding: 8px;
    width: 100%;
    max-width: 250px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #2d3748;
    color: white;
}

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}

.card {
    background-color: #2d3748;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    margin-bottom: 12px;
}

.card-content {
    text-align: center;
}

.card h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #ffffff;
}

.card p {
    color: #d1d5db;
    font-size: 14px;
    margin-bottom: 12px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 12px;
    font-size: 14px;
}

.iconL-button, .iconU-button {
    background-color: #4c98af;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px;
}

.icon-svg {
    width: 20px;
    height: 20px;
}

.iconf-svg {
    width: 40px;
    height: 40px;
}

/* Media queries pour la responsivité */
@media (min-width: 640px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

/* Styles pour la modal (inchangés) */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    background-color: #2d3748;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#videoPlayer {
    width: 100%;
    height: 56.25vw;
    max-height: 450px;
    margin-bottom: 20px;
}

#movieDetails {
    color: #fff;
}
