body {
    font-family: Arial, sans-serif;
    background-color: #0a0b0f; /* Gray-900 */
    color: white;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #12141c; /* Gray-800 */
    border: 1px solid #1a1d28; 
    padding: 16px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

.icon-container {
    width: 35px;
    height: 35px;
    background-color: #1a73e8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    top: 9px;
    left: 60px;
}

.icon-button {
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
}

.input {
    padding: 8px;
    width: 250px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #2d3748;
    color: white;
}

#toggleDesktopMode {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1a73e8;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    z-index: 1000;
    display: none;
}

@media (max-width: 768px) {
    #toggleDesktopMode {
        display: block;
    }
}

.desktop-mode {
    min-width: 1024px;
    overflow-x: auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.card {
    background-color: #2d3748;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 180px;  /* Width of the image */
    height: 260px; /* Height of the image */
    object-fit: cover; /* Ensures the image covers the space without distortion */
    margin-bottom: 12px;
}

.card-content {
    text-align: center;
}

.card h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #ffffff; /* Ensures the title is visible */
}

.card p {
    color: #d1d5db; /* Gray-400 */
    font-size: 14px;
    margin-bottom: 12px;
}

button {
    width: 100%;
    padding: 20px;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 12px;
    font-size: 14px;
}
.iconL-button {
    position: absolute;
    width: 10%;
    position: absolute; /* Permet de positionner librement */
    top: 60px; /* Ajuste la position verticale */
    right: 10px; /* Ajuste la position horizontale */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #1a73e8;
    color: white;
}

.iconU-button {
    position: absolute;
    width: 10%;
    position: absolute; /* Permet de positionner librement */
    top: 10px; /* Ajuste la position verticale */
    right: 10px; /* Ajuste la position horizontale */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #1a73e8;
    color: white;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #a0aec0;
}

.icon-svg {
    width: 20px; /* Taille réduite de l'icône */
    height: 20px;
}
.iconf-svg {
    width: 60px; /* Taille réduite de l'icône */
    height: 50px;
}
/* Optional: Add a smooth transition effect for the cards when hovered */
.card:hover {
    transform: translateY(-10px);
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    background-color: #2d3748;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#videoPlayer {
    width: 100%;
    height: 450px;
    margin-bottom: 20px;
}

#movieDetails {
    color: #fff;
}

#loadingAnimation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.loader {
  margin: 0 auto;
  display: flex;
  width: 12rem;
  height: 12rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  border: 0.4rem solid #52c5ff;
}

.container[class*="1"] {
  animation-delay: 1s;
}

.container[class*="2"] {
  animation-delay: 1.3s;
}

.container[class*="3"] {
  animation-delay: 1.6s;
}

.container[class*="4"] {
  animation-delay: 1.9s;
}

.tars {
  z-index: 0;
  position: absolute;
  height: 100px;
  width: 130px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transform-style: preserve-3d;
  animation: rotateX3D 6s ease-in-out infinite;
  animation-delay: 1s;
}

.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotateY3D 3s ease-in infinite both;
}

.shape {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  position: relative;
  z-index: -1;
}

.shape div {
  display: block;
  position: absolute;
  text-align: center;
}

.container:nth-child(2) .f::after,
.container:nth-child(3) .f::after {
  position: absolute;
  content: '';
  width: 100%;
  z-index: -1;
  height: 20px;
  background-image: radial-gradient(#54ff6e 2px, transparent 1%);
  background-size: 20px 5px;
  left: 0;
  top: 20%;
  border: 0;
  animation: animMove 2s linear infinite alternate-reverse;
  overflow: hidden;
}

.container:nth-child(2) .f::before,
.container:nth-child(3) .f::before {
  position: absolute;
  content: '';
  width: 85%;
  z-index: -1;
  height: 20px;
  left: 0;
  top: 20%;
  border: 0;
  background: #181818;
  border: 2px solid #52c5ff;
  overflow: hidden;
}

.container:nth-child(1) .f::before,
.container:nth-child(1) .r::before,
.container:nth-child(1) .l::before,
.container:nth-child(4) .f::before,
.container:nth-child(4) .r::before,
.container:nth-child(4) .l::before {
  position: absolute;
  content: '';
  width: 95%;
  height: 5px;
  left: 0;
  top: 25%;
  border: 1px solid #52c5ff;
  overflow: hidden;
}

.container:nth-child(1) .b::before,
.container:nth-child(4) .b::before {
  position: absolute;
  content: '';
  width: 95%;
  z-index: -1;
  height: 5px;
  left: 0;
  top: 69%;
  border: 0;
  border: 1px solid #52c5ff;
  overflow: hidden;
}

.f {
  transform: rotateY(0deg) translateZ(15px);
  border-radius: 2px;
  overflow: hidden;
  transform-style: preserve-3d;
}

.b {
  transform: rotateX(180deg) translateZ(15px);
  border-radius: 2px;
}

.f, .b {
  width: 30px;
  height: 100px;
  background: #212121;
  box-shadow: inset 0 0 0 2px #52c5ff;
  border: 2px solid #52c5ff;
}

.l {
  transform: rotateY(-90deg) translateZ(0px);
  border-radius: 2px;
}

.r {
  transform: rotateY(90deg) translateZ(-30px);
  border-radius: 2px;
}

.l, .r {
  width: 30px;
  height: 100px;
  left: 15px;
  position: relative;
  z-index: -1;
  background: #212121;
  box-shadow: inset 0 0 0 2px #52c5ff;
  border: 2px solid #52c5ff;
}

.t {
  transform: rotateX(90deg) translateZ(40px);
  border-radius: 2px;
}

.bot {
  transform: rotateX(-90deg) translateZ(60px);
  border-radius: 2px;
}

.t, .bot {
  width: 30px;
  height: 30px;
  top: 25px;
  position: relative;
  z-index: -1;
  background: #212121;
  box-shadow: inset 0 0 0 2px #52c5ff;
  border: 2px solid #52c5ff;
}

@keyframes rotateY3D {
  0% {
    transform: translateZ(0px) rotateX(0);
  }
  50% {
    transform: translateZ(0px) rotateX(-360deg);
  }
  100% {
    transform: translateZ(0px) rotateX(-360deg);
  }
}

@keyframes rotateX3D {
  0% {
    transform: translateX(0px) rotateY(0);
  }
  50% {
    transform: translateX(0px) rotateY(180deg);
  }
  100% {
    transform: translateX(0px) rotateY(360deg);
  }
}

@keyframes animMove {
  0% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-10px);
  }
}
